.main_div {
  background-color: gray;
  position: absolute;
  left: 0;
  width: 100%;
  height: 150rem;
  margin-top: -20rem;
  padding: 5rem 0;
  z-index: 4;
}

.image_div {
  position: absolute;
  z-index: 5;
  left: 0;
  display: flex;
  width: 100%;
  text-align: center;
  background-color: rgb(170, 170, 170);
  border-radius: 20px;
  overflow: hidden;
  padding: 2rem 0;
}

.image_div img {
  width: 70%;
  height: 40rem;
  object-fit: cover;
  border-radius: 20px;
}

.entering {
  opacity: 0;
}
.entered {
  animation: popup 400ms ease-out;
}
.exiting {
  animation: unpopup 400ms ease-out;
}
.exited {
  opacity: 0;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes unpopup {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
