.maindiv {
  text-align: center;
  height: 50rem;
}
.maindiv h1 {
  margin-bottom: 5rem;
}

.projectList {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
}
.projectList li {
  margin: 2rem 4rem;
  border-radius: 20px;
  box-shadow: 3px 3px 10px black;
}

.projectList li > p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0.4rem;
  color: rgb(63, 63, 63);
  font-size: 1.2rem;
  font-weight: 600;
}

/* 프로젝트 이미지 div 의 이미지 */
.project_img_div img {
  z-index: 1;
  width: 25rem;
  height: 20rem;
  border-radius: 20px;
  transition: all 600ms ease-in-out;
}

.project_img_div img:hover {
  opacity: 0.2;
  z-index: 0;
}

/* 프로젝트 이미지에 담길 텍스트 */
/* 이미지의 크기와 서로 맞추고, 마진을 변경시킨다 */
.projectText {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.723);
  color: white;
  z-index: 1;
  width: 25rem;
  height: 20rem;
  border-radius: 20px;
  margin-top: -20rem;
  transition: all 500ms ease-in-out;
  opacity: 0;
  overflow: hidden;
}

.projectText button {
  width: 12rem;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.588);
  margin: 0 auto;
}
.projectText:hover {
  opacity: 1;
  z-index: 2;
}
