.maindiv {
  position: absolute;
  display: block !important;
  padding: 1.5rem;
  z-index: 5;
  background-color: white;
  box-shadow: 3px 3px 3px rgba(71, 71, 71, 0.649);
  border-radius: 20px;
  margin-top: 10rem;
}

.maindiv p {
  display: block;
  margin: 0.3rem 0;
  padding: 0;
}

.entering {
  opacity: 0.1;
  transform: translateX(3rem);
  transition: all 700ms ease-out;
}
.entered {
  margin-right: 0;
  transition: all 500ms ease-out;
}
.exiting {
  opacity: 0.1;
  transition: all 500ms ease-out;
  transform: translateX(3rem);
}

.exited {
  display: none !important;
}
