@import url("https://fonts.googleapis.com/css2?family=Hahmlet&display=swap");

html {
  --main-background-color: rgb(161, 177, 251);
  --main-background-color-dark: rgb(139, 30, 223);
  --main-font-color-white: white;
}
body {
  margin: 0;
  font-family: "Hahmlet", serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
