@import url("https://fonts.googleapis.com/css2?family=Hahmlet&display=swap");

html {
  --main-background-color: rgb(108, 135, 254);
  --main-background-color-dark: rgb(139, 30, 223);
  --main-font-color-white: white;

  --greeting-backround-color-lighter: rgb(63, 63, 188);
  --greeting-backround-color: rgb(81, 81, 162);
}
body {
  margin: 0;
  font-family: "Hahmlet", serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-content-text {
  animation: popup 700ms ease-out;
}
@keyframes popup {
  0% {
    margin-top: 100rem;
  }
  100% {
    margin-top: 0;
  }
}
